* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.container {
  width: auto;
  height: 80px;
  background-color: rgb(94, 94, 206);
}

.search-form {
  font: inherit;
  padding-top: 20px;
  width: 50%;
  margin: auto;
  max-width: 320px;
  margin-bottom: 16px;
}

input {
  position: absolute;
  height: 40px;
  width: 320px;
  border-radius: 5px;
}

button {
  position: relative;
  height: 40px;
  width: 40px;
  margin-left: 280px;
  border-radius: 5px;
  background-image: url(../img/search.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  list-style: none;
  text-transform: capitalize;
  font-size: 15px;
}

.photo-card {
  flex-basis: calc(24% - 15px);
  margin-top: 5px;
  border: solid 1px black;
  overflow: hidden;
}

a {
  display: block;
  width: inherit;
}

.info {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-transform: capitalize;
  font-size: 15px;
  margin-left: 10px;
}

.info-item {}

.photo-card:hover {
  scale: 101%;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: linear;
}